@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply max-w-[90%] tablet:max-w-[95%] w-[1080px] mx-auto bg-white dark:bg-[#131313];
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, orange, darksalmon);
  border-radius: 10px;
}
